* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: radial-gradient(circle at 37.72% -19.64%, #bfca7b 0, #b4cd80 3.33%, #a8cf86 6.67%, #9cd18d 10%, #8fd395 13.33%, #83d59f 16.67%, #75d6a8 20%, #68d7b3 23.33%, #59d7bd 26.67%, #4bd8c8 30%, #3cd8d3 33.33%, #2ed8dd 36.67%, #23d7e7 40%, #21d6f0 43.33%, #29d5f8 46.67%, #38d3ff 50%, #49d1ff 53.33%, #5bcfff 56.67%, #6eccff 60%, #80c9ff 63.33%, #91c6ff 66.67%, #a2c2ff 70%, #b2bfff 73.33%, #c1bbff 76.67%, #cfb7ff 80%, #dcb3fc 83.33%, #e8b0f4 86.67%, #f2adec 90%, #faaae2 93.33%, #ffa8d9 96.67%, #ffa6ce 100%);
    margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  width: 100%;
  display: table;
  vertical-align: middle;
}
.navtop {
  background-image: radial-gradient(circle at 50% -20.71%, #ff65b3 0, #ff59c0 10%, #ff4ecd 20%, #ff45d9 30%, #ff3fe6 40%, #f23cf2 50%, #d33ffe 60%, #ad46ff 70%, #7b4fff 80%, #0058ff 90%, #0060ff 100%);
    height: 60px;
    width: 100%;
    border: 0;
}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ecf0f6;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c5d2e5;
    font-weight: bold;
    font-size: initial;
}
.navtop div a i {
    padding: 2px 8px 0 0;
  color: #c5d2e5;
}
.navtop div a:hover {
    color: #ecf0f6;
}
.content {
    width: 1000px;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}

.option{
    width: 100%;
    height: 30px;
  display: inline-flex;
}

.column {
  width: 60%;
  margin: 0px auto;
  padding: 0 8px;
}

.card {
  background-image: radial-gradient(circle at 50% -20.71%, #faffff 0, #d8f0fa 25%, #b5def2 50%, #92cbeb 75%, #72b9e5 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(0, 0, 0);
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-basic {
  text-align: center;
  padding:5px 0;
  background-image: radial-gradient(circle at 50% -20.71%, #ff65b3 0, #ff59c0 10%, #ff4ecd 20%, #ff45d9 30%, #ff3fe6 40%, #f23cf2 50%, #d33ffe 60%, #ad46ff 70%, #7b4fff 80%, #0058ff 90%, #0060ff 100%);
  color:#c5d2e5;
  bottom: 0px;
  position: absolute;
  width: 100%; 
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:0.3;
  margin-bottom:0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#c5d2e5;
  margin-bottom:0;
}

a {
    color: rgb(0, 0, 0);
    padding: 4px 12px 8px
}

h1 {
    color: black;
}

table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  margin: 10px auto 10px auto;
}
table thead th {
    background-color: #DDEFEF;
    border: solid 1px black;
    color: #336B6B;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

table thead{
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}

table thead td{
    padding: 10px 30px;
    font-weight: bold;
    color: #000000;
    font-size: 14px;
}

table tbody tr {
border-bottom: 1px solid #d3dae0;
background-color: #FFFFFF;
}
table tbody tr:nth-child(even) {
background-color: #fbfcfc;
}
table tbody tr:hover {
background-image: radial-gradient(circle at 50% -20.71%, #ff65b3 0, #ff59c0 10%, #ff4ecd 20%, #ff45d9 30%, #ff3fe6 40%, #f23cf2 50%, #d33ffe 60%, #ad46ff 70%, #7b4fff 80%, #0058ff 90%, #0060ff 100%);
}
table tbody tr:hover td {
color: #FFFFFF;
}

table tbody tr:hover td:nth-child(1) {
color: #FFFFFF;
}

table tbody tr td {
padding: 10px;
}

table tbody tr td:nth-child(1) {
color: #a5a7a9;
}

table tbody tr td.actions .edit, .read table tbody tr td.actions .trash {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 12px;
}

.th {
    background-color: #DDEFEF;
    border: solid 1px black;
    color: #336B6B;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
}
table tbody td {
    color: #333;
    padding: 10px;
}

.tomboltambah{
    display: inline-block;
  	text-decoration: none;
  	background-color: #38b673;
  	font-weight: bold;
  	font-size: 14px;
  	color: #FFFFFF;
  	padding: 10px 15px;
  	margin: 15px 0;
}

.tomboltambah:hover {
    background-color: #32a367;
}

.edit{
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.edit:hover {
    background-color: #32a367;
}

.hapus{
    background-color: #b73737;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    color: #FFFFFF;
}

.hapus:hover {
    background-color: #a33131;
}

.index {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
  background-color: whitesmoke;
}
.index:hover {
  background-image: radial-gradient(circle at 50% -20.71%, #ff65b3 0, #ff59c0 10%, #ff4ecd 20%, #ff45d9 30%, #ff3fe6 40%, #f23cf2 50%, #d33ffe 60%, #ad46ff 70%, #7b4fff 80%, #0058ff 90%, #0060ff 100%);
}

.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

main {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 40%;
  text-align: center;
  font-size: 60%;
  overflow: auto;
  border-radius: 0px 0px 10px 10px;
}


.header {
  width: 40%;
  margin: 50px auto 0px;
  color: white;
  background: #1e76ce;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-radius: 10px 10px 0px 0px;
}